.closeBtn{
    float: right;
    background: "grey";
    position: relative;
    bottom: 60px;
    font-size: 24px;
}
.modContent{
    margin:30px;
}

.cancelBtn,.addBtn{
    display: inline-block;
        height: 35px;
    border-radius: 3px;
    width: 90px;
    color:  black;
    background: darkgrey;
    float :left;
    margin: 5px 20px;
    border: 0;
    box-shadow: 2px 2px 2px;
}
.addBtn{
    float: right;
}
.cancelBtn:hover,.addBtn:hover{
    background: black;
    color: white;
}
