.homepge{
	margin:20px 0;
	padding: 0;
}
.tiles{
	margin: 20px 10px;
	padding: 5px;
}
.tileImg{
	display: block;
    margin: 10px 95px;
    padding: 2px;
    width: 203px;
}
.descr{
	text-align: center;
	font-size: 14px;
	color: white;
}
.header {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	text-decoration: none
}
.header:hover{
   color: white;
   text-decoration: none;
}
.active{
	 text-decoration: none;
}