	.pdName ,.pdAbout{
		text-align: center;
		margin: 3px 0;
	}
	.tileImg{
		display: block;
	}
	.offerPrice{
		text-align: center;
		margin: 3px 10px;
		color: red;
	}
	.sellPrice,{
		text-align: center;
		margin: 3px 10px;
		text-decoration: line-through;
	}
	.price,.specs{
		color: white;
		    text-align: center;
	}
	.tilesL2{
		    margin: 10px 45px;
		box-shadow: 3px 0 3px grey, -3px 0 3px silver;
	}
	.tilesL2:hover{
		box-shadow: 3px 0 3px silver, -3px 0 3px grey;	
	}